torch
transformers
accelerate
deepspeed
numpy<2.0.0 # deepspeed 1.3.0 not compatible with numpy 2.0.0 yet
vllm
sympy==1.12.1 # Ensuring ompatibility with antlr4-python3-runtime=4.11
antlr4-python3-runtime==4.11.1 # NOTE: must be 4.11 for sympy !!!
orjson
# For flash-attn build
einops
packaging
ninja
pebble